# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

*.swp

*.svg

# gogitignore start
capture/capture
cgo/cgo
channel-test/channel-test
compilebpf/compilebpf
defertest/defertest
dinig-philosophers/dinig-philosophers
echoclient/echoclient
echoserver/echoserver
empty-interface-fuzz/empty-interface-fuzz
filter/filter
go-linq/go-linq
goauto/goauto
goparser/goparser
gosnmp/gosnmp
listdev/listdev
log-boilerplate/log-boilerplate
mruby/mruby
nil-pointer/nil-pointer
pipe/pipe
protobuf/protobuf
redis-mysql-lookup/redis-mysql-lookup
snake-test/snake-test
sshclient/sshclient
structtags/structtags
svg/svg
unicodeblock/unicodeblock
url-parse/url-parse
vocabulary/vocabulary
# gogitignore end
